#app-recommandation {
  height: 100%;
  width: 100%;
  text-align: center;
  background-color: white;
}
.title-recommandation {
  font-family: 'Lato';
}
.recommandation > h2 {
    font-family: 'Grand Hotel';
}
.swipe-info {
  font-family: 'Chewy';
  color: #C853D3;
}
.meal-information {
  /*width: 100%;
  height: 250px;*/
  /*background-image: url('../../assets/img/meal.png');*/
  position: relative;
}

.carousel-cell {
  width: 100vw;
  height: 100vh;
}

.meal-img {
  height: 50vh;
  width: 100vw;
}

.meal-details {
  position: absolute;
  width: 75vw;
  background-color: white;
  opacity: 0.8;
  bottom: 0;
  right: 0;
}

.meal-details > ul {
  list-style-type: none;
}
