<div id="app-recommandation">
  <div class="title-recommandation"><img src="../../assets/img/logo.png"/>Recommandation du jour</div>
  <div class="recommandation">
    <h2>Today's rockstar meal</h2>
    <div class="swipe-info">Swipe up to order</div>
    <div class="recommanded-meal">
      <div class="meal-information">
        <div class="meal-details">
          <ul>
            <li>Risotto de Pablo</li>
            <li>14€</li>
            <li>Temps de livraison : 25min</li>
          </ul>
        </div>
      </div>
      <div class="swipe-info">Swipe right for more</div>
    </div>
  </div>
</div>
