<div id="meal-name">{{meal?.name}}</div>

<mat-grid-list cols="2" rowHeight="100px">

  <mat-grid-tile
      id="meal-img"
      colspan="1"
      rowspan="3">
    <img src="../../assets/img/food/asparagus.jpg" width="100%"/>
  </mat-grid-tile>

  <mat-grid-tile
      id="meal-description"
      colspan="1"
      rowspan="2">
    <table>
      <tr>
        <td>Nutritional value</td>
        <td>10 kcal</td>
      </tr>
      <tr>
        <td>Restaurant</td>
        <td>Tamer</td>
      </tr>
      <tr>
        <td>Price</td>
        <td>{{meal?.prix}}</td>
      </tr>
      <tr>
        <td>Time</td>
        <td>5 min</td>
      </tr>
    </table>

  </mat-grid-tile>
  <mat-grid-tile
      id="meal-order"
      colspan="1"
      rowspan="1">
    <button mat-button [matMenuTriggerFor]="menu">
      Order
    </button>
    <mat-menu #menu="matMenu" yPosition="below" [overlapTrigger]="false">
      <button id="sub" mat-menu-item (click)="mealOrder()" >
        <img src=""/>
        <span>Deliveroo</span>
      </button>
      <button id="sub" mat-menu-item (click)="mealOrder()" >
        <img src=""/>
        <span>Alloresto</span>
      </button>
      <button id="sub" mat-menu-item (click)="mealOrder()" >
        <img src=""/>
        <span>Foodora</span>
      </button>
    </mat-menu>
  </mat-grid-tile>
</mat-grid-list>

<div id="meal-location">Google Maps</div>
<div id="meal-others">You may also like...</div>
