@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Chewy|Grand+Hotel|Lato');
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
    font-family: 'Josefin Sans', sans-serif;
    overflow: hidden;
    margin: 0;
}
