<nav>
  <ul>
    <li><a routerLink="/dashboard"><img src="assets/img/logo.png" alt="BizyFufu" id="logo"></a></li>
    <!-- <li><a href="#accueil">Accueil</a></li>
    <li><a href="#apropos">A propos</a></li>
    <li><a href="#contact">Contact</a></li>
    <li><a href="#partenaires">Partenaires</a></li>
    <li><a href="#profile">Mon Compte</a></li> -->
    <li><a routerLink="/dashboard" routerLinkActive="active">Dashboard</a></li>
    <li><a routerLink="/plats" routerLinkActive="active">Plats</a></li>
    <li><a routerLink="/restaurants" routerLinkActive="active">Restaurants</a></li>
  </ul>
</nav>

<router-outlet></router-outlet>
<!-- <my-footer></my-footer> -->
