<h2>{{title}}</h2>
<plat-search></plat-search>
<!-- Ajout d'un plat (Inutile mais présent pour tests) -->
<!-- <div>
  <label>Ajouter un plat:</label> <input #platName />
  <button (click)="add(platName.value); platName.value=''">
    Ajouter
  </button>
</div> -->

<div class="centerthings">
  <div *ngFor="let plat of plats"
    class="box"
    [class.selected]="plat === selectedPlat"
    (click)="onSelect(plat)">
    <div class="mealpic">
      <img [src]="plat.logo" [alt]="plat.name">
    </div>
    <div class="mealdescription">
      <h2>{{plat.name}}</h2>
      <p>{{plat.description}}</p>
      <div class="mealprice">
        à partir de {{plat.prix}}
      </div>
    </div>
  </div>
  <div *ngIf="selectedPlat">
    <h2>
      Je veux en savoir plus sur {{selectedPlat.name | uppercase}}
      <br>!geocoding={{geocoding}}!
    </h2>
    <button (click)="gotoDetail()">View Details</button>
    <button (click)="viewRestaurant()">Voir Restaurant</button>
    <div *ngIf="voirRestaurant">
      <h2>{{selectedPlatRestaurant.name}} details!</h2>
      <div>
          <br/>{{ selectedPlatRestaurant.id }}
          <br/>{{ selectedPlatRestaurant.logo }}
          <br/>{{ selectedPlatRestaurant.name }}
          <br/>{{ selectedPlatRestaurant.address }}
          <br/>{{ selectedPlatRestaurant.specialties }}
          <br/>{{ selectedPlatRestaurant.work_time }}
          <br/>{{ selectedPlatRestaurant.minimum_order }}
          <br/>{{ selectedPlatRestaurant.link }}
      </div>
    </div>
  </div>
</div>
<agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
  <agm-marker [latitude]="lat1" [longitude]="lng1"></agm-marker>
</agm-map>
