<h2>{{title}}</h2>
<plat-search></plat-search>
<!-- Ajoute d'un plat (Inutile mais présent pour tests) -->
<!-- <div>
  <label>Ajouter un plat:</label> <input #platName />
  <button (click)="add(platName.value); platName.value=''">
    Ajouter
  </button>
</div> -->

<!-- Liste du tuto : A SUPPRIMER   -->
<!-- <ul class="plats">
  <li *ngFor="let plat of plats"
    [class.selected]="plat === selectedPlat"
    (click)="onSelect(plat)">
    <span class="badge">{{plat.id}}</span> <span>{{plat.name}}</span>
    <button class="delete" (click)="delete(hero); $event.stopPropagation()">x</button>
  </li>
</ul>
<div *ngIf="selectedPlat">
  <h2>
    Je veux en savoir plus sur {{selectedPlat.name | uppercase}}
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div> -->

<div class="centerthings">
  <div *ngFor="let plat of plats"
    class="box"
    [class.selected]="plat === selectedPlat"
    (click)="onSelect(plat)">
    <div class="mealpic">
      <img [src]="plat.logo" [alt]="plat.name">
    </div>
    <div class="mealdescription">
      <h2>{{plat.name}}</h2>
      <p>{{plat.description}}</p>
      <div class="mealprice">
        à partir de {{plat.prix}}
      </div>
    </div>
  </div>
  <div *ngIf="selectedPlat">
    <h2>
      Je veux en savoir plus sur {{selectedPlat.name | uppercase}}
    </h2>
    <button (click)="gotoDetail()">View Details</button>
  </div>
</div>
<map></map>
