<div class="container">
  <div class="restotitle">{{restaurant.name}}</div>
  <div class="restoaddress">{{ restaurant.address }}</div>
  <div class="restobox">
    <div class="restopic">
        <img src="{{ restaurant.logo }}" alt="Logo Restaurant">
    </div>
    <div class="restodescription">
      <!-- Les restaurants n'ont pas forcément de description (deliveroo oui / alloresto non) -->
        {{ restaurant.specialties }}
    </div>
    <div class="restohoraires">
      {{ restaurant.work_time }}
    </div>
    <div class="restourl">
        <a href="{{ restaurant.link }}">Site du restaurant</a>
    </div>

    <div class="menubox">
      <!-- A garder? -->
      <h1> Aperçu du menu </h1>
      <table>
        <tr>
          <th>Meal</th>
          <th>Price</th>
        </tr>
        <tr *ngFor="let plat of plats">
          <td>{{ plat.name }}</td>
          <td>{{ plat.prix }}</td>
        </tr>
        <!-- <tr>
          <td>Chicken Nuggets x6</td>
          <td>3.00 €</td>
        </tr>
        <tr>
          <td>Chicken Nuggets x6</td>
          <td>3.00 €</td>
        </tr>
        <tr>
          <td>Chicken Nuggets x6</td>
          <td>3.00 €</td>
        </tr> -->
      </table>
    </div>
  </div>
</div>

<!-- MAP -->

<agm-map [latitude]="userLat" [longitude]="userLng" [zoom]="zoom">
  <agm-marker [latitude]="userLat" [longitude]="userLng"></agm-marker>
  <!-- <agm-marker [latitude]="restaurantLat" [longitude]="restaurantLng"></agm-marker> -->
</agm-map>
