.example-h2 {
  margin: 10px;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 10px;
}

.mat-slider-horizontal {
  width: 300px;
}

.main-carousel {
  /* overflow: hidden; */
}

.carousel-cell {
  width: 100vw;
}

.flickity-page-dots .dot {
  width: 12px;
  height: 12px;
  opacity: 1;
  background: transparent;
  border: 2px solid green;
}
/* fill-in selected dot */
.flickity-page-dots .dot.is-selected {
  background: green;
}
