#app-home {
  height: 100vh;
  width: 100vw;
  text-align: center;
  background-image: url("../../assets/img/home-background.png");
  background-size: 100%;
}
.title-home {
  color: HoneyDew;
  font-size: 3em
}
.recommandation {
  border-radius: 50%;
	width: 200px;
	height: 200px;
  background-color: #F4DAD6;
  color: #47525E;
  opacity: 0.5;
  font-size: 1.5em;
  bottom: 0px;
  position: absolute;
  margin-left: 5vw;
  margin-bottom: 5vw;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center;
}
